@font-face {
    font-family: "Red Hat Display";
    src: url("../RedHatDisplay-Regular.ttf");
}

body {
    background-image: url("../images/pattern-background-desktop.svg");
    background-repeat: repeat-x;
    background-color: hsl(225, 100%, 94%);
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display';
}

#container {
    display: flex;
    border-radius: 15px;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    min-height: 500px;
    box-shadow: 0px 30px 20px -30px hsl(224, 23%, 55%);
}

img {
    width: 100%;
    object-fit: contain;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

@media (max-width: 450px) {
    #container {
        width: 90%;
    }
}

#container h1 {
    font-weight: 900;
    text-align: center;
    color: hsl(223, 47%, 23%);
}

#container>p {
    text-align: center;
    width: 70%;
    font-size: 1rem;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

#plan {
    display: flex;
    flex-flow: row nowrap;
    width: 320px;
    justify-content: space-around;
    background-color: hsl(225, 100%, 98%);
    line-height: 4;
    border-radius: 10px;
}

#plan img {
    width: 46px;
}

#plan>p {
    line-height: 2;
    color: hsl(224, 23%, 55%);
    margin-left: -10%;
    font-size: 1rem;
}

#plan button {
    background-color: hsl(225, 100%, 98%);
    border: 0;
    font-family: inherit;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    text-decoration: underline;
}

#plan button:hover {
    cursor: pointer;
    text-decoration: none;
    color: hsl(245, 73%, 63%);
}

#proceed {
    width: 80%;
    background-color: hsl(245, 75%, 52%);
    color: #fff;
    line-height: 3;
    border-radius: 10px;
    border: 0;
    margin: 3% auto;
    font-weight: 900;
    box-shadow: 0px 4px 20px -6px hsl(245, 75%, 52%);
}

#proceed:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: hsl(245, 73%, 63%);
}

#cancel {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    padding: 10%;
    object-fit: cover;
    font-family: 'Red Hat Display';
    font-weight: 900;
    color: hsl(224, 23%, 55%);
}

#cancel:hover {
    cursor: pointer;
}